<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/chat.css">
  <title>SocketChat</title>
</head>
<body>
  <header>
    <h1>Socket Chat</h1>
  </header>
  <main>
    <div id="all-messages">
      <!-- Mensajes que vengan se colocan aquí -->
    </div>
    <div id="typing-indicator"></div>
    <div class="send-message">
      <input type="text" id="message" />
      <button id="send-message" class="btn secondary">Enviar</button>
    </div>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/script.js"></script>
</body>
</html>